<!DOCTYPE html>
<html>
	<head>
		<title>HTML Basics</title>
		<%= stylesheet_link_tag @color %>
		<!--script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script-->
	</head>
 <body class='composer'>
 <div class="header"> <%=link_to "Logout", {:controller => "sessions", :action => "destroy"}, :class => "logout-link"%> </div>
 <div class="lesson">
  <div class="lesson-left-bar">
   <div class="lesson-left-bar-header">
    <div class="article-inner">
     <div class="lesson-course-name">HTML Basics</div>
    </div>
   </div>
    <div class="lesson-checkpoint-wrapper"> 
       <div class="lesson-checkpoint-inner">
        <div class="article-inner">
         <div class="article-header">
          <div class="lesson-checkpoint-name"><%= @level.title %></div>
         </div>
         <div class="article-content">
         	<%=raw @level.tutorial %>
         </div>
        </div>
        <div class="lesson-checkpoint-instructions">
         <div class="lesson-checkpoint-instructions-header">
          <div class="block-label">Instructions</div>
         </div>
         <div class="article-inner">
          <%=raw @level.instruction %>
          </div>
        </div>
      </div>
     </div>
   </div>
   <div class="lesson-right-bar-wrapper">
   	 <div class="lesson-middle-bar-header">
      <!--div class="article-inner"-->
       <div class="lesson-middle-bar-name">test.html</div>
      <!--/div-->
     </div>
     <div class="lesson-middle-bar-wrapper">
   <div class="lesson-middle-bar">
      <div class="lesson-code-editor">
     	<div id="editor" class="theme-changes"><%=raw @level.defaultcode %></div>
      </div>
   </div>
   <%= hidden_field_tag "color", @color, { :id => "color" } %>
   <%= hidden_field_tag "level-answer", @level.answer, { :id => "level-answer" } %>
   <div class="lesson-right-bar">
   	 <!--div class="lesson-right-bar-header"></div-->
   	<section id="output">
		<iframe class="output-frame">
			
		</iframe>
	</section>
	<div class="frame-actions">
		<div class="frame-action-button">
			<%= link_to image_tag('fullscreen-small.png') + " Full Screen" , "#", :id => 'fullscreen' %>
		<!--div class="fullscreen-image"><%= image_tag("fullscreen-small.png")%></div>
		<a class="frame-fullscreen" id="fullscreen">Full Screen</a-->
		</div>
	</div>	
   </div>
   </div>
         <div class="button-container">
       <div class="button-group">
        <a class="submit-code button pri" id="submit-button"> Save &amp; Submit Code </a>
        <a class="reset-code button pri" id="reset-button">Reset Code</a>
       </div>
       <div class="next-level-group" id="level-group">
       	<div class= "success-message-icon">
      	  <div class="check-mark"><%= image_tag("check-white-small.png")%></div>
      	  <span class="success-message">Way to go!</a>
      	  <%=link_to "Start Next Lesson", {:controller => "home", :action => "course", :color =>@color, :num => @level.number+1}, :class => "next-level button"%>	
        </div>
        <div class="close-icon close-success" id="close-next-lesson"></div>
       </div>
       <div id="fail-lesson">
       	<div class="error">
       	  <div class="error-message-icon"><%= image_tag("error-white-small.png")%></div>
       	  <div class="error-message">
       		  <span class="error-message-general">Oops, try again. </span>
       		  <span id="validation-error"></span>
       	  </div>
       	</div>
       	<div class="close-icon close-error" id="close-fail-lesson"></div>
       </div>	
      </div>
   </div>
  </div>
  <div class="footer"> </div>
 </body>
</html>	
