<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>HTML Basics</title>
    <%= stylesheet_link_tag @color %>
  </head>

<body class='composer'>
 <div class="header"><%=link_to "Logout", {:controller => "sessions", :action => "destroy"}, :class => "logout-link"%> </div>
 <div class="lesson"> 
   <%= hidden_field_tag "color", @color, { :id => "color" } %>
   <div class="lesson-final">
   	<div class="message-box">
   	 <div class="survey">
      <p class="survey-title">Thanks for completing the first three lessons of this course. Please answer the following hypothetical question.</p>
     <%= form_tag("/home/submitSurvey/"+@color, method: "get") do %>
      <!--div class="question">
      <%= label_tag(:numlessons, "Imagine that we ask you to complete three more levels, how much we should pay you? $.10 for the middle) This is a hypothetical question.Please answer the following questions.") %><br>
      <%= radio_button_tag(:numlessons, "first", false, class: "radio-numlesson") %>
	  <%= label_tag(:numlessons_first, "none", class: "label-numlesson") %>
      <%= radio_button_tag(:numlessons, "second", false, class: "radio-numlesson") %>
      <%= label_tag(:numlessons_second, "1", class: "label-numlesson") %>
      <%= radio_button_tag(:numlessons, "third", false, class: "radio-numlesson") %>
      <%= label_tag(:numlessons_third, "2", class: "label-numlesson") %>
      <%= radio_button_tag(:numlessons, "fourth", false, class: "radio-numlesson") %>
      <%= label_tag(:numlessons_fourth, "3", class: "label-numlesson") %>
      <%= radio_button_tag(:numlessons, "fifth", false, class: "radio-numlesson") %>
      <%= label_tag(:numlessons_fifth, "4", class: "label-numlesson") %>
      <%= radio_button_tag(:numlessons, "sixth", false, class: "radio-numlesson") %>
      <%= label_tag(:numlessons_sixth, "5", class: "label-numlesson") %>
      <%= radio_button_tag(:numlessons, "seventh", false, class: "radio-numlesson") %>
      <%= label_tag(:numlessons_seventh, "more than 5", class: "label-numlesson") %>
      </div-->
      <div class="question">
      <%= label_tag(:compensation, "This course has a total of fourteen lessons and you have successfully completed three of them. Now, imagine that we ask you to complete three more lessons, how much we should pay you?") %><br>
      <%= radio_button_tag(:compensation, "first", false, class: "radio-numlesson", required:'required') %>
	  <%= label_tag(:compensation_first, "none", class: "label-numlesson") %>
      <%= radio_button_tag(:compensation, "second", false, class: "radio-numlesson", required:'required') %>
      <%= label_tag(:compensation_second, "$1.50", class: "label-numlesson") %>
      <%= radio_button_tag(:compensation, "third", false, class: "radio-numlesson", required:'required') %>
      <%= label_tag(:compensation_third, "$2.50", class: "label-numlesson") %>
      <%= radio_button_tag(:compensation, "fourth", false, class: "radio-numlesson", required:'required') %>
      <%= label_tag(:compensation_fourth, "$3.50", class: "label-numlesson") %>
      <%= radio_button_tag(:compensation, "fifth", false, class: "radio-numlesson", required:'required') %>
      <%= label_tag(:compensation_fifth, "$4.50", class: "label-numlesson") %>
      <%= radio_button_tag(:compensation, "sixth", false, class: "radio-numlesson", required:'required') %>
      <%= label_tag(:compensation_sixth, "$5.50", class: "label-numlesson") %>
      <%= radio_button_tag(:compensation, "seventh", false, class: "radio-numlesson", required:'required') %>
      <%= label_tag(:compensation_seventh, "$6.50 or more", class: "label-numlesson") %>
      </div>
      <div>
      <%= submit_tag("Submit", :class=>"submit-code button pri") %>
       <% end %> 
      </div>
     </div>
	</div>
   </div>
  </div>
  <div class="footer"> </div>
 </body>
 
  <body>
  	<div class="wrapper">
  	<div class="login">
    <p class="title">Welcome!</p>
     <%= form_tag sessions_path do %>
      <div class="field">
      <%= label_tag :email %><br>
      <%= text_field_tag :email %>
      </div>
      <div class="field">
      <%= label_tag :password %><br>
      <%= password_field_tag :password %>
      </div>
      <div class="actions">
      <%= submit_tag "Log In" %>
       <% end %> 
      </div>
     </div>
    </div>
  </body>
</html>

